<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <title>HomePage</title>
      <style>
      #wrapper{
        background-color: #F8FAF0;
        width:100%;
        height: 100%;
        border-color: black;
        border-width: 8px;
        border-style: double;
      }
      </style>
    </head>
    <body>
      {% load staticfiles %}
        <div id="wrapper">
          <div class = "container-fluid" style = "margin-top: 20px; ">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
              <a class="navbar-brand" style= "font-size: 50px;" href="#">JEK Development LLC</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                  <div class="navbar-nav">
                    <a class="nav-item nav-link active"style= "font-size: 30px; margin-left: 50px;" href="{% url 'housing:property_list' %}">Properties <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link"style= "font-size: 30px;margin-left: 30px;" href="{% url 'housing:about_us' %}">About</a>
                    <a class="nav-item nav-link" style= "font-size: 30px;margin-left: 30px;"href="{% url 'housing:invest' %}">Invest</a>
                    <a class="nav-item nav-link disabled" style= "font-size: 30px;margin-left: 30px;"href="#">Contact</a>
                  </div>
                </div>
             </nav>
           </div><!--<br><br><br>-->
            <div class = "container-fluid" style = "margin-top:75px; margin-bottom: 75px;">
            <center>
              <img src= "static/images/CityView.jpg" width = 1000px height = 800px>
            </center>
          </div>
        </div>
      </body>
</html>
